@mixin headerImage {
     background-image: url(../assets/header-home.jpg);
}

@mixin blogHeaderImage {
     background-image: url(../assets/blog-image.jpg);
}

@mixin contactHeaderImage {
     background-image: url(../assets/contact-image.jpg);
}