@import 'setup';
@import 'variable';
@import 'mixins';

* {
     padding: 0;
     margin: 0;
}

html {
     font-size: 62.5%;
}

.wrapper {
     max-width: 1400px;
     width: 90%;
     margin: 0 auto;
}

@import 'navigation';

header {
     @include headerImage;
     background-size: cover;
     background-position: center;
     min-height: 100vh;
}

h1 {
     font-family: $kumarOneOutline;
     font-size: 6.4rem;
     color: $black;
     width: 50%;
     padding-left: 10vh;
     text-transform: uppercase;
}
