html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

nav.blogNav,
nav.contactNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px 0px 25px;
}

nav ul li {
  font-size: 1.5rem;
  padding: 20px;
  margin: 0 10px;
  text-transform: uppercase;
  list-style: none;
  color: blue;
}

nav ul li a {
  font-family: "Lato", sans-serif;
  color: #151514;
  text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus {
  border-bottom: 5px solid #F8FB05;
}

header {
  background-size: cover;
  background-position: center;
}

.indexHeader {
  background-image: url(../assets/header-home.jpg);
  min-height: 100vh;
}

.blogHeader {
  background-image: url(../assets/blog-image.jpg);
  min-height: 60vh;
}

.contactHeader {
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  min-height: 85vh;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 6.8rem;
  line-height: 64px;
  color: #151514;
  width: 55%;
  padding-left: 10vh;
  text-transform: uppercase;
}

h2.logo {
  font-family: "Kumar One", cursive;
  font-size: 2.2rem;
  line-height: 24px;
  letter-spacing: 2.1px;
  color: #151514;
  width: 20%;
  padding-top: 15px;
  padding-left: 10vh;
  text-transform: uppercase;
}

.contactHeader h1 {
  margin-top: 150px;
  width: auto;
}

main {
  background-color: #E0FDDF;
  height: 90%;
}

form {
  position: relative;
  bottom: 170px;
  background-color: #F5F5F5;
  height: 500px;
  width: 800px;
  border: 1px solid red;
  -webkit-box-shadow: 15px 20px;
          box-shadow: 15px 20px;
  color: #F8FB05;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid black;
  background-color: #F5F5F5;
  height: 10%;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  padding: 0px 20px 20px;
}

input[type=email] {
  border: none;
  border-bottom: 1px solid black;
  background-color: #F5F5F5;
  height: 10%;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  padding: 0px 20px 20px;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactDes {
  font-size: 1.5rem;
  letter-spacing: 7px;
  width: 23%;
  padding-top: 70px;
}

.contactDes p {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  line-height: 17px;
  letter-spacing: 4px;
}

.contactDes p:first-of-type {
  padding: 10px 0px 20px;
  letter-spacing: 2px;
}

footer p {
  background-color: black;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 5px 0px 5px;
}
